body{
    font-family:Poppins   
   }
   .container {
     position:relative;
     width:100%;
     margin: auto;
     background-color: transparent;
     padding: 5px 20px 15px 20px;
     border: transparent;
     border-radius: 10px;
     box-sizing:border-box;
   }
   .column {
   float: left;
   width: 47.5%;
   height:100%;
   position: relative;
   }
   .smallSpace{
       width:5%
   }
   .center_title{
     font-size: 22px;
     margin-bottom: 0;
     display: none;
     text-align: center;
   }
   .center_input{
     padding: 0 60;
     margin-bottom: 35;
     max-height:7.2%;
     position:relative;
   }
 
   .center_input>label {
     top: -20px;
     position: absolute;
     width: fit-content;
     left: 70px;
     background: transparent;
     color: white;
   }
 
   .form_fields{
       padding-top:25;
   }
 
   .column>label{
 top: -20px;
 position: absolute;
 width: fit-content;
 left: 14px;
 background: transparent;
 color: white;
 }
 
   .column>.trailing-icon{
     position: absolute;
     /*top: 12px;*/
     bottom:50%;
     height: 38%;
     transform: translateY(50%);
     right:70px;
     display:none;
   }
 
   .center_input>.trailing_icon{
     position: absolute;
     /*top: 12px;*/
     bottom:50%;
     height: 38%;
     transform: translateY(50%);
     right:70px;
     display:none;
   }  
 
   .trailing-icon{
     position: absolute;
     /*top: 12px;*/
     bottom:50%;
     height: 38%;
     transform: translateY(50%);
     right:70px;
     display:none;
   }
   .trailing-icon-cvv{
     position: absolute;
     bottom:50%;
     height: 38%;
     transform: translateY(50%);
     right:20px;
     display:none;
   }
   
 
   .checkboxLabel{
 
     position: relative;
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 15px;
     line-height: 22px;
     color: #021D2F;
     top:5 !important;
 
   }
 
 
   .checkBoxcontainer{
     display: flex;
     padding: 0 60 25 60;
     margin-bottom: 25px;
     cursor: pointer;
     position: relative;
     color:#EF4624;
   }
 
   .checkBoxInput{
       height:25 ;
       width:25 ;
   }
 
   .loader {
     margin-left:50;
     border: 5px solid #f3f3f3;
     border-top: 5px solid #3498db;
     border-radius: 50%;
     width: 5%;
     align-self: center;
     height: 2%;
     animation: spin 2s linear infinite;
   }
   
   @keyframes spin {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
   }
   
   /* Clear floats after the columns */
   .row:after {
     content: "";
     display: table;
     clear: both;
   }
   
   .row_container{
     padding: 0 15% 0 9%;
   }
 
   .row_exp{
     width:100%;
     display: -webkit-inline-box;
     clear: both;
     height:6.5%;
     margin-bottom:20;
     padding-bottom:20;
   }
   .col-25 {
   -ms-flex: 25%; /* IE10 */
   flex: 25%;
   }
   .col-50 {
   -ms-flex: 50%; /* IE10 */
   flex: 50%;
   }
   .col{
   -ms-flex: 100%; /* IE10 */
   flex: 100%;
   }
 
 
   input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 6.5%;
    background-color: rgb(0,0,0,0.2);
    color: white;
   }
   input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 6.5%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
   }
 
   /*input[type="password"]::webkit-input-placeholder {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 4.5%;
    font-size:xx-large;
   }*/
 
   select::-ms-expand { display: none; }
   select {
     box-shadow:none;   
     outline:none;      
     -webkit-appearance: none;
     -moz-appearance: none;
     /*background: transparent;*/
     /*background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);*/
     background-repeat: no-repeat;
     background-position-x: 21px;
     background-position-y: 0px;
       
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 6px;
     height: 6.5%;
     display: none;
   }
   /*select::-ms-expand { display: none; }*/
 
   .embed_input{
    width: 100%;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 100% !important;
    background-color: rgb(0,0,0,0.2);
    color: white;
   }
 
   label {
   display: block;
   /* Caption - Regular */
 
   font-family: Poppins;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 21px;
   /* identical to box height, or 162% */
   
   
   color: #9AA5AC;
   
   
   /* Inside Auto Layout */
   
   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 0px 10px;
   }
   .icon-container {
   margin-bottom: 20px;
   padding: 7px 0;
   font-size: 24px;
   }
   .btn {
     min-height:40px;
     background-color: #1d5790;
     color: white;
     padding: 12px;
     border: 1px;
     width: 100%;
     border-radius: 50px;
     cursor: pointer;
     font-size: 17px;
     height:6.5%;
     -webkit-appearance: none;
   }
   .btn:hover {
     background: white;
     color: #EF4624;
     border: 1px solid black;
   }
 
   .terms{
       /* Caption - Regular */
 
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    /* or 162% */
    
    color: #ABB6BA;
   }
 
   .terms_container{
       padding: 0 60
   }
 
 
   .hrLogo{
     width: calc(100% - 125px);
     margin: 30px 60px;
     left: 90px;
     top: 87px;
     border: 2px solid #1C1632;
     display: none;
   }
 
   .prontomasTitle{
     padding: 25 60 0 60;
   }

   .prontomasLogoTitleSvg{
       display: none;
   }
 
   .checkBoxLabelText{
     color: white;
     margin:0px;
     position: absolute;
     white-space: nowrap;
     top: 2px;
   }
 
   @media (max-width: 450px) {
 
       .checkBoxLabelText{
         color:#1C1632;
         margin:0px;
         position: absolute;
         white-space: nowrap;
         top: 2px;
         font-size:16px
       }
 
       .prontomasTitle{
         padding: 25 30 0 30;
       }
 
       .hrLogo{
         width: calc(100% - 65px);
         margin: 30px 30px;
         left: 90px;
         top: 87px;
         border: 2px solid #1C1632;
         display: none;
       }
 
       .centerTitle{
         padding-left:30px;
       }
 
       .center_input{
         padding: 0 30;
         margin-bottom:18px;
         max-height:7.2%;
         position:relative;
       }
       .checkBoxcontainer{
         display: flex;
         padding: 0 30px 25 30px;
         margin-bottom: 25px;
         cursor: pointer;
         position: relative;
       }
 
       .terms_container{
           padding:0 30
       }
 
       .terms{
           font-size:9px;
       }
       .center_title{
           font-size: 18px;
           padding-left:30px;
       }
       .trailing-icon{
         position: absolute;
         /*top: 12px;*/
         bottom:50%;
         height: 38%;
         transform: translateY(50%);
         right:40px;
         display:none;
       }
       .column>label{
         top: -10px;
         position: absolute ;
         width: fit-content;
         left: initial;
         background: white;
       }
       .center_input>label {
         top: -10px;
         position: absolute;
         width: fit-content;
         left: initial;
         background: white;
         color: #9AA5AC;
       }
 
   }
   
 
   span.price {
   float: right;
   color: grey;
   }
   /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
   @media (max-width: 800px) {
   .row {
   flex-direction: column-reverse;
   }
   .col-25 {
   margin-bottom: 20px;
   }
   }
   /* The container must be positioned relative: */
   .custom-select {
     position: relative;
     font-family: Arial;
   }
   
   .custom-select select {
     display: none; /*hide original SELECT element: */
   }
   
   .select-selected {
     background-color: DodgerBlue;
   }
   
   /* Style the arrow inside the select element: */
   .select-selected:after {
     position: absolute;
     content: "";
     top: 14px;
     right: 10px;
     width: 0;
     height: 0;
     border: 6px solid transparent;
     border-color: #fff transparent transparent transparent;
   }
   
   /* Point the arrow upwards when the select box is open (active): */
   .select-selected.select-arrow-active:after {
     border-color: transparent transparent #fff transparent;
     top: 7px;
   }
   
   /* style the items (options), including the selected item: */
   .select-items div,.select-selected {
     color: #ffffff;
     padding: 8px 16px;
     border: 1px solid transparent;
     border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
     cursor: pointer;
   }
   
   /* Style items (options): */
   .select-items {
     position: absolute;
     background-color: DodgerBlue;
     top: 100%;
     left: 0;
     right: 0;
     z-index: 99;
   }
   
   /* Hide the items when the select box is closed: */
   .select-hide {
     display: none;
   }
   
   /*.select-items div:hover, .same-as-selected {
     background-color: rgba(0, 0, 0, 0.1);
   }*/
 
   .poweredContainer{
 
       width:50%;
   }
 
   .prontoMasContainer{
       min-height:40px;
       display: inline-flex ;
       width:100%
   }
   .prontoMasGrey{
     text-align:end;
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 15px;
     line-height: 22px;
     /* identical to box height */
     color: white;
   }
   .prontoMasBlue{
     text-align:start;
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 15px;
     line-height: 22px;  
     /* identical to box height */
 
     color:#EF4624
   }
   .prontoMasSvg{
     top:20px;
   }
   .cvvSvg{
     width: 16px;
     height: 16px;
     left: calc(100% - 35px);
     position: relative;
     bottom: calc(8px + 50%);
     /* fill: white; */
   }
   .tooltipText{
     visibility: hidden;
     width: 120px;
     background-color: black;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px 0;
     /* Position the tooltip */
     position: absolute;
     right: 25%;
     bottom: 50%;
     z-index: 1;
   }
 
   .cvvSvg:hover + .tooltipText{
     visibility:visible;
   }
 
  
 
   /* The container */
   .containerCheck {
     display: block;
     position: absolute;
     padding-left: 35px;
     margin-bottom: 12px;
     cursor: pointer;
     font-size: 22px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     border-radius: 10px;
   }
   
   /* Hide the browser's default checkbox */
   .containerCheck input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
   }
   
   /* Create a custom checkbox */
   .checkmark {
     position: absolute;
     top: 0;
     left: -10px;
     height: 25px;
     width: 25px;
     background-color: #eee;
   }
   
   /* On mouse-over, add a grey background color */
   .containerCheck:hover input ~ .checkmark {
     background-color: #ccc;
   }
   
   /* When the checkbox is checked, add a blue background */
   .containerCheck input:checked ~ .checkmark {
     background-color: #1d5790;
     border-radius: 5px;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
     content: "";
     position: absolute;
     display: none;
   }
   
   /* Show the checkmark when checked */
   .containerCheck input:checked ~ .checkmark:after {
     display: block;
   }
   
   /* Style the checkmark/indicator */
   .containerCheck .checkmark:after {
     left: 9px;
     top: 5px;
     width: 5px;
     height: 10px;
     border: solid white;
     border-width: 0 3px 3px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
   }

   path {
     fill: white;
   }