.lds-roller {
display: none;
position: absolute ;
width: 80px;
height: 80px;
top: calc(-40px + 50%);
z-index: 99;
left: calc(50% - 40px);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
  background: #fff;

}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
  background-color:black;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
  background-color:black;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
  background-color:black;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
  background-color:black;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
  background-color:black;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
  background-color:black;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
  background-color:black;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
  background-color:black;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
  background-color:black;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
  background-color:black;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
  background-color:black;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
  background-color:black;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
  background-color:black;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
  background-color:black;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
  background-color:black;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
  background-color:black;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.overlay{
  background-color:rgba(255,255,255,0.5);
  z-index:99;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display:none;
}